<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="StartupFolders" type="MyProject.StartupFoldersConfigSection, MyProject"/>
	</configSections>
	
	<StartupFolders appName="My app">
		
		<Folders>
			<add folderType="Language" path="ru"/>
			<add folderType="\w*.txt$" path="\TXT" counter="0"/>
			<add folderType="\w*.docx$" path="\WORD" counter="0"/>
			<add folderType="\w" path="\STANDART" counter="0"/>
		</Folders>
	</StartupFolders>
</configuration>
